/* BACKGROUND IMAGE */
html {
	
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))) , url(../../assets/img/projects/druggist/druggist-wide-no-text.jpg);
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)) , url(../../assets/img/projects/druggist/druggist-wide-no-text.jpg);
	background-image: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)) , url(../../assets/img/projects/druggist/druggist-wide-no-text.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)) , url(../../assets/img/projects/druggist/druggist-wide-no-text.jpg);

}